/*body {
    overflow:hidden;
}
*/
.tag {
    font-family:Arial;
    font-size:10px;
    background:red;
    padding:10;
    text-align:center;
    color:white;
    width: 90px;
    height:20px;
    position:absolute;
    z-index:10000000;
    cursor: pointer;
    
}


.slideshow {
    position:absolute;
}

.image {
    float:left;
    border: 2px solid red;

}

.delete {
    width:20px;
    height:20px;
    color:white;
    float:left;
    cursor:pointer;
    background:red;
}

.group {
    float:left;
    margin:10px;
    border:1px solid blue;
}